# General
WORKSPACE_FOLDER=/workspaces/app
PYTHONPATH=/workspaces/app

# Langfuse
LANGFUSE_SECRET_KEY=
LANGFUSE_PUBLIC_KEY=
LANGFUSE_HOST=http://langfuse-web:3000

# OpenAI
OPENAI_API_KEY=sk-your-openai-api-key
AZURE_OPENAI_API_KEY=xxxxxxxxx
OPENAI_API_VERSION=2024-10-21
AZURE_OPENAI_ENDPOINT=https://xxxxxxx.openai.azure.com/
AZURE_OPENAI_PREVIEW_API_KEY=xxxxxxxxx
OPENAI_PREVIEW_API_VERSION=2025-01-01-preview	
AZURE_OPENAI_PREVIEW_ENDPOINT=https://zzzzzzzz.cognitiveservices.azure.com/

# Milvus
MILVUS_URL=http://milvus:19530
MILVUS_DATABASE=SEGITTUR_AVC
MILVUS_COLLECTION=general_vectorstore

# MinIO
MINIO_ROOT_USER=minio
MINIO_ROOT_PASSWORD=miniosecret
MINIO_ALIAS=data

# Storage TODO change AVC_STORAGE prefix to STORAGE
AVC_STORAGE_PROVIDER=azure-blob
AVC_STORAGE_ACCESS_KEY=segitturdev
AVC_STORAGE_SECRET_KEY=fake
AVC_STORAGE_URL=https://segitturdev.blob.core.windows.net/
AVC_STORAGE_REGION=northeurope
AVC_STORAGE_SECURE=true


## Destination API
DESTINATION_API_BASE_URL="https://segittur-dev.onesaitplatform.com"

## S5 API
S5_USER_PROFILE_API_URL= "https://segitturcrmdes.grupotecopy.es/modulointeraccionback"
S5_API_TOKEN =