# General
WORKSPACE_FOLDER=/workspaces/app
PYTHONPATH=/workspaces/app

# OpenAI
OPENAI_API_VERSION=2024-10-21
AZURE_OPENAI_API_KEY=
AZURE_OPENAI_ENDPOINT=
AZURE_OPENAI_PREVIEW_API_KEY=
OPENAI_PREVIEW_API_VERSION=2025-01-01-preview
AZURE_OPENAI_PREVIEW_ENDPOINT=

# Milvus
MILVUS_URL=http://milvus:19530
ETCD_ENDPOINTS=etcd:2379
MINIO_ADDRESS=minio:9000
MINIO_ACCESS_KEY_ID=minio
MINIO_SECRET_ACCESS_KEY=miniosecret
MINIO_BUCKET_NAME=milvus