# General
WORKSPACE_FOLDER=/workspaces/app
PYTHONPATH=/workspaces/app

# OpenAI
OPENAI_API_KEY=sk-your-openai-api-key
AZURE_OPENAI_API_KEY=xxxxxxxxx
OPENAI_API_VERSION=2024-10-21
AZURE_OPENAI_ENDPOINT=https://xxxxxxx.openai.azure.com/
AZURE_OPENAI_PREVIEW_API_KEY=xxxxxxxxx
OPENAI_PREVIEW_API_VERSION=2025-01-01-preview	
AZURE_OPENAI_PREVIEW_ENDPOINT=https://zzzzzzzz.cognitiveservices.azure.com/

# Milvus
MILVUS_URL=http://milvus:19530